.bars ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #1b6005;
  border-radius: 5px;
}

.bars li {
  float: right;
  display: inline;
}

.bars li:last-child {
  border-left: none;
}

.bars li a {
  display: block;
  color: #f8d31e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.bars li a:hover {
  background-color: #f8d31e;
  color: #1b6005;
  border-left: none;
}
