body {
	background-color: #ccccd2;
	--background-image: url(eothuonetahu.jpg);
	--border-color:;
	--border-style:;
	color: navy;
	font-family: "Arial", "Helvetica", sans-serif;
	text-align: center;
}

#loginHeader {

}

img#logoHeader {
	width = 50px;
	height = 50px;
}
