#rankingProperties {
  display: block;
  background-color: #f8d31e;
  color: #1b6005;
  text-decoration: none;
  width: 380px;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  padding: 10px;
}

#rankingList {
  display: block;
  margin: 10px;
  width: auto;
}

#rankingTable {
  border-collapse: collapse;
  width: 100%;
}

#rankingList th, tr {
  background-color: #1b6005;
  color: #f8d31e;
}

#rankingList td {
  background-color: #f8d31e;
  color: #1b6005;
  padding: 10px;
}
