#registerInput {
  display: block;
  color: #4fd5d6;
  background-color: #400d12;
  border-radius: 10px;
  width: 280px;
  float: center;
  margin: 20px auto 20px auto;
  padding: 10px;
}

#registerInput img {
  height: 100px;
  width: 100px;
}
